// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-field {
	width: 500px;
	height: 300px;
}

.btn-group {
	display: inline;
	float: right;
}

.post {
	
}

.input-append {
	background: #eeeeee;
	clear: both;
}
